<div class="hotContent" th:fragment="hotContent">
    <div id="collapseHotBody" class="card card-body">
        추천 게시물
    </div>
</div>

<div class="autoContent" th:fragment="autoContent">
    <div id="collapseAutoBody" class="card card-body">
        자동 게시물
    </div>
</div>

<div class="selfContent" th:fragment="selfContent">
    <div id="collapseSelfBody" class="card card-body">
        수동
    </div>
</div>

<div class="bookmarkContent" th:fragment="bookmarkContent">
    <div id="collapseBookmarkBody" class="card card-body">
        북마크
    </div>
</div>ㅋ