<html xmlns:th="http://www.thymeleaf.org">

<!--검색 결과-->
<div class="searchPlans" id="searchPlans">
  <div class="search-form-container">
    <div class="search-input-container">
      <input type="text" class="search-input" placeholder="제목" id="search-title">
      <input type="text" class="search-input" placeholder="지역" id="search-region">
      <input type="text" class="search-input" placeholder="키워드" id="search-keywords">
    </div>
    <button class="search-button" type="button" id="search-plans-button">검색</button>
  </div>

  <div id="collapseSearchBody">
  </div>
</div>

</html>