    .container, h1, ul, li{
       margin: 0;
       padding: 0;
    }

    .container{
        min-width: 100vw;
    }

    header{
        display: flex;
        position: absolute;
        height: 100%;
        flex-direction: column;
        z-index: 10;
        background-color: #fff;
        border-right: 1px solid rgba(0,0,0,0.15);
    }

    .blind{
        display: none !important;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        height: 76px;
        border-bottom: 1px solid rgba(0,0,0, 0.15);
        box-sizing: border-box;
    }

    .logo .link_logo{
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        font-size: 1px;
        line-height: 1px;
    }

    nav{
        display: block;
        width: 63px;
        min-height: 1px;
        flex: 1 1 0%;
    }
    nav ul{
        overflow: hidden;
        max-width: 390px;
        height: 100%;
        list-style: none;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        padding: 0;
    }
    nav ul li{
        list-style: none;
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .contentButton{
        display: block;
        position: relative;
        z-index: 10;
        padding: 13px 1px 11px 0px;
        text-align: center;
        width: 62px;
        font-size: inherit;
        line-height: inherit;
        appearance: none;
        background-color: transparent;
        border: none;
        color: rgb(51, 51, 51);
    }
    .icon{
        width: 62px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: top;
        font-size: 1px;
        line-height: 1px;
    }
    .icon_inner{
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
    svg{
        width: 16px;
        height: 21px;
    }
    .navbar_text{
        display: block;
        min-height: 13px;
        margin-top: 3px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.44;
    }
    /*content*/
    #content{
        z-index: 8;
        position: absolute;
        left: 63px;
        width: 390px;
        min-height: 100vh;
        padding: 24px 0 0 0;
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0, 0.15);
        border-right: 1px solid rgba(0,0,0, 0.15);
        /*overflow: hidden;*/
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    #content.show{
        transform: scaleX(1);
    }

    #collapseBody, #collapseHotBody, #collapseAutoBody, #collapseSelfBody, #collapseBookmarkBody{
        border: none;
    }
    #collapseButton{
        z-index: 8;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        background-color: #fff;
        width: 23px;
        height: 46px;
        border-radius: 0px 9px 9px 0px;
        text-align: center;
        appearance: none;
        border: 1px solid rgba(0,0,0, 0.15);;
    }
    body{
        background-color: #fff;
    }